# .env.example
DATABASE_URL=postgresql+psycopg2://USER:PASSWORD@HOST:PORT/DBNAME

# Twilio
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# Remitente y destinatario en formato WhatsApp
TWILIO_FROM=whatsapp:+14155238886
USER_WHATSAPP=whatsapp:+52155XXXXXXXX
